@model WebApplication4.ViewModel.CvViewModel

@using WebApplication4.Models;

@{
    ViewBag.Title = "CV2";
}
 
    <<div class="modal fade" id="EduEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Education</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CVEdit", "CV", FormMethod.Post))
                {
                    <div>
                        
                      

                        @for (int a = 0; a < 6; a++)
                        { 

                            @foreach (Qualification i in Model.qual)
                             {
                                
                                    <div>
                                       @Html.TextAreaFor(m => m.qual[a].qualification))
                                   </div>
  
                                 }
                                
                             }
                        
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" value="submit">Save changes</button>
            </div>
        </div>
    </div>
</div>



